/* PlanetsDirectory.css */
.planets-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
}

.planet-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  font-weight: bold;
}

.planet-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.load-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.load-more-btn:hover {
  background-color: #0056b3;
}

/* ResidentsDisplay.css */
.residents-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resident-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
  width: 250px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #333;
}

.resident-card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
