@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/public/assets/science-5350597_1920.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: "Fira Code", monospace; 
} */
/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.app-container {
  background: url("/public/assets/science-5350597_1920.jpg") center/cover; /* Planetary background */
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
  padding: 1rem;
  text-align: center;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: url("/public/assets/science-5350597_1920.jpg") center/cover fixed; /* Fixed background */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly more transparent white background */
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
  padding: 1rem;
  text-align: center;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff; /* White text for better contrast */
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  /* Semi-transparent white background for content */
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
  border-radius: 15px; /* Rounded corners for a softer look */
  margin: 20px; /* Add margin for a better separation from the background */
}
.content-container::-webkit-scrollbar {
  display: none;
}
